body{
    display:grid;
    background-color: black;
    grid-template-columns: 200px 1240px;
}
#sideBar {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
}
#content {
    height:800px;
    background-color: white;
}